:root {
    --dk-bg: #1F2937; /*hero and footer*/

    --hero-color: #F9FAF8;


    --btn-color: #3882F6;


    --qte-bg: #E5E7EB;

    

}

* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

header {
    display: flex;
    justify-content: space-around;
    background-color: var(--dk-bg);
    padding: 2rem 7rem;
    width: 100%;
    
    
}

header h1 {
    color: var(--hero-color);
}

header ul {
    display: flex;
    gap: 2rem;
}

header li {
    gap: 3rem 10rem;
    list-style-type: none;
    
}
header a {
    color: #E5E7EB;
    text-decoration: none;
    font-size: 18px;
    font-weight: 300;
}

.hero {
    background-color: var(--dk-bg);
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 7rem;
    padding-bottom: 7rem;
}

.hero h2 {
    font-size: 48px;
    font-weight: 900;
    max-width: 15ch;
    color: var(--hero-color);
    line-height: 1.2;
    margin-bottom: 1.5rem;
}

.hero p {
    font-size: 18px;
    color: var(--qte-bg);
    max-width: 35ch;
    margin-bottom: 1.5rem;
}

.hero .btn {
    display: inline-block;
    background-color: var(--btn-color);
    padding: 1rem 3rem;
    border-radius: 18px;
}

.hero .btn a {
    color: white;
    text-decoration: none;

}

.hero img {
    width: 560px;
    height: 300px;
    border-radius: 12px;
}

.experience {
    
    padding: 2rem 5rem;
}

.experience h3 {
    text-align: center;
    margin-bottom: 3rem;
    color: var(--dk-bg);
    font-size: 36px;
    font-weight: 900;
}

.experience .experience-grid {
    display: flex;
    justify-content: center;
    gap: 3rem;
    margin-bottom: 5rem;
}

.experience .experience-grid div {
    border: 1px solid var(--btn-color);
    width: 240px;
    border-radius: 20px;
    overflow: hidden;
}

.experience .experience-grid img {
    width: 100%;
    
}

.experience .experience-grid .box-titles {
    padding: 1rem;
    text-align: center;
}

.experience .experience-grid .box-desc {
    padding: 1rem;
    text-align: center;
}

.quote {
    background-color: var(--qte-bg);
    padding: 8rem 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.quote #quote-txt {
    font-size: 36px;
    color: rgb(73, 73, 73);
    max-width: 49ch;
    font-weight: 300;
    font-style: italic;
}

.quote #user {
    justify-content: center;
    color: red;
    margin-left: 38rem;
    font-size: 30px;
    color: var(--dk-bg);
    font-weight: 600;

}

.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 8rem;
}

.contact .contact-box {
    background-color: var(--btn-color);
    padding: 2rem 5rem;
    display: flex;
    border-radius: 15px;
    gap: 15rem;
    align-items: center;
}

.contact-title {
    color: white;
    margin-bottom: 1rem;
    font-size: 38px;
    font-weight: 700;
}

.contact-desc {
    color: white;
    font-size: 20px;
    font-weight: 300;
}

.contact .btn {
    display: inline-block;
    background-color: var(--btn-color);
    padding: 1rem 1rem;
    border-radius: 18px;
    border: 1px solid white;
}

.contact .btn a {
    display: block;
    color: white;
    text-decoration: none;
}

