:root {
    --dk-bg: #1F2937; /*hero and footer*/

    --hero-color: #F9FAF8;


    --btn-color: #3882F6;


    --qte-bg: #E5E7EB;

    

}

* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

header {
    display: flex;
    justify-content: space-around;
    background-color: var(--dk-bg);
    padding: 2rem 7rem;
    width: 100%;
    
    
}

header h1 {
    color: var(--hero-color);
}

header ul {
    display: flex;
    gap: 2rem;
}

header li {
    gap: 3rem 10rem;
    list-style-type: none;
    
}
header a {
    color: #E5E7EB;
    text-decoration: none;
    font-size: 18px;
    font-weight: 300;
}

.hero {
    background-color: var(--dk-bg);
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 7rem;
    padding-bottom: 7rem;
}

.hero h2 {
    font-size: 48px;
    font-weight: 900;
    max-width: 15ch;
    color: var(--hero-color);
    line-height: 1.2;
    margin-bottom: 1.5rem;
}

.hero p {
    font-size: 18px;
    color: var(--qte-bg);
    max-width: 35ch;
    margin-bottom: 1.5rem;
}

.hero .btn {
    display: inline-block;
    background-color: var(--btn-color);
    padding: 1rem 3rem;
    border-radius: 18px;
}

.hero .btn a {
    color: white;
    text-decoration: none;

}
.hero img {
    width: 560px;
    height: 300px;
    border-radius: 12px;
}

